<!-- Header -->

<div class="header clearfix">
	<h3 class="text-muted">About Saurabh</h3>
</div>


<div class="row">
					<div class="main_about">
						<div class="col-md-12">
							<div class="about_content">
								<ul>
									<li>More than 3 years of Full Stack development experience in Start-up working in Banking domain with fast paced environment.  </li>
									<li>Worked as the only developer for 3 Enterprise-level applications under supervision of Director and CTO. </li>
									<li>Always inclined to learn new technologies, team player with strong interpersonal and organizational skills.</li>
								</ul>
								
							</div>
						</div>
						<div class="col-md-12">
							<div class="about_accordion wow fadeIn">
								<div id="faq_main_content" class="faq_main_content">
									<h6><i class="fa fa-angle-right"></i> Technical Skills </h6>
									<div>
										<div class="content">
											<table>
												<tr>
													<th>Languages/ Frameworks </th>
													<td>:</td>
													<td>Java, J2EE(Spring MVC), JavaScript, AngularJS(1.x), AngularJS(2+), BackboneJS, HandlebarJS, NodeJS</td>
												</tr>
												<tr>
													<th>Web Technologies  </th>
													<td>:</td>
													<td>JSP, HTML/HTML5, CSS/CSS3, jQuery, Ajax, Twitter Bootstrap, JSON, XML, SpringMVC, Maven</td>
												</tr>
												<tr>
													<th>User Experience Design Tools</th>
													<td>:</td>
													<td>Balsamiq, AxureRP 7.0 Pro, Adobe Photoshop</td>
												</tr>
												<tr>
													<th>Web Servers </th>
													<td>:</td>
													<td>Apache Tomcat 7.0 </td>
												</tr>
												<tr>
													<th>Database Management </th>
													<td>:</td>
													<td>MongoDB(NoSQL), SQL</td>
												</tr>
												<tr>
													<th>Project Management </th>
													<td>:</td>
													<td>Agile(Kanban, Scrum), JIRA </td>
												</tr>
												<tr>
													<th>Development Tool </th>
													<td>:</td>
													<td>Eclipse, Net Beans, WebStorm, Visual Studio </td>
												</tr>
												<tr>
													<th>Version Control Tools </th>
													<td>:</td>
													<td>GitHub </td>
												</tr>
												<tr>
													<th>Other Tools </th>
													<td>:</td>
													<td>Microsoft Office, Weka, Mozenda, etc</td>
												</tr>
											</table>
										</div>
									</div>
									<!-- End off accordion item-1 -->
									<br>
									<h6 class="open"><i class="fa fa-angle-right"></i> Links:</h6>
									<div class="open">
										<div class="content">
											<ul>
												<li><a href="https://www.linkedin.com/in/saurabhsarathe/" target="_blank">LinkdIn</a></li>
												<li><a href="https://stackoverflow.com/users/4701397/saurabh-sarathe" target="_blank">Stackoverflow</a></li>
												<li><a href="https://www.facebook.com/s.bobbby" target="_blank">Facebook</a></li>
												<li><a href="http://saurabhsarathe.getforge.io/" target="_blank">Portfolio</a></li>
											</ul>
										</div>
									</div>
									<!-- End off accordion item-2 -->

								</div>
							</div>
						</div>
					</div>
				</div>
				<!--End off row-->
			