
<!-- Header -->

<div class="header clearfix">
	<h3 class="text-muted">All Companies</h3>
</div>
<br>
<br>
<!-- Company Listing view -->
<table class="table">
	<thead>
		<tr>
			<th>Company Name</th>
			<th>Founded</th>
			<th>CEO</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
	<!--  [ngFor]='let row in companyResponse' -->
		<tr *ngFor="let row of companyResponse">
			<td>{{row.companyName}}</td>
			<td>{{row.foundedYear}}</td>
			<td>{{row.companyCEO}}</td>
			<td>
				<div class="btn-group">
					<button type="button" class="btn btn-danger dropdown-toggle"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Action</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" (click)="editCompany(row)">Edit</a>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>
